.button {
  width: 284px;
  height: 58px;
  background-color: #0D50FF;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: #282828;
}

.button:active {
  background-color: #FFFFFF;
  color: #0D50FF;
}