.promoContainer {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  width: 100%;
}

.promo {
  width: 100%;
  min-height: 600px;
  background-image: url('../../assets/images/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promoContent {
  color: white;
  padding: 0 20px;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.promoTitle {
  font-size: 96px;
  font-weight: 700;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1000px) {
  .promo {
    height: 500px;
  }
  .promoTitle {
    font-size: 70px;
  }
}

@media (max-width: 500px) {
  .promo {
    height: 500px;
  }
  .promoTitle {
    font-size: 40px;
  }
}