.container {
  width: 100%;
  max-width: 1360px;
  min-height: 502px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  padding: 20px 0; 
  flex-wrap: wrap;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.grid {
  display: flex;
  gap: 32px; 
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 316px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.card img {
  width: 316px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin-top: 12px;
}
