.header{
  max-width: 1440px;
  width: 100%;
  padding: 40px 0;
  margin: 0 auto;
  background: #fff;
  position: relative;
  border: 1px solid black;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px;
  gap: 32px;
}

.navigation{
  display: flex;
  gap: 30px;
}
.logoWrapp {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
}

.navLinks {
  display: flex;
  justify-content: center;
  flex: 2;
}

.cartWrapp {
  display: flex;
  justify-content: flex-end;
  min-width: 48px;
}

.cartLink{
  position: relative;
}

.cartBadge {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 26px;
  height: 26px;
  background: #0D50FF;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none; 
}
.cartImg {
  width: 48px;
  height: 48px;
  transition: transform 0.3s;
}

.cartImg:hover {
  transform: scale(1.1);
}

@media (max-width: 750px) {
  .nav {
    flex-direction: column; /* меню станет вертикальным */
    gap: 16px; /* уменьшаем расстояния */
  }

  .cartWrapp {
    align-self: flex-end; /* выравниваем корзину по правому краю */
  }

  /* Можно уменьшить размер иконки */
  .cartImg {
    width: 36px;
    height: 36px;
  }

}