.container {
  width: 100%;
  max-width: 1360px;
  min-height: 502px;
  margin: 0 auto; 
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.grid {
  display: flex;
  gap: 32px; 
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: 316px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: inherit;
  border-radius: 10px;
  box-shadow: 0px -1px 8px 0px rgba(34, 60, 80, 0.3);

}

.imageWrapper {
  position: relative;
  width: 316px;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
}

.discount {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 68px;
  height: 34px;
  background-color: #0D50FF;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  margin: 12px;
  font-size: 20px;
  font-weight: normal;
  white-space: nowrap;         
  overflow: hidden;            
  text-overflow: ellipsis; 
  /* width: 252px;  */
}
/* .title {
  margin: 12px ;
  color: #282828;
} */

.prices {
  margin: 30px;
  display: flex;
  gap: 18px;
  align-items: baseline;
}

.newPrice {
  color: black;
  font-size: 40px;
  font-weight: bold;
}

.oldPrice {
  text-decoration: line-through;
  color: #999;
  font-size: 20px;
}