.container {
  max-width: 1400px;
  margin: 0 auto;
}

.links {
  margin-bottom: 32px;
  display: flex;
  gap: 16px;
}

.sorting {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 316px);
  gap: 20px;
  justify-content: center;
}


@media (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    padding: 16px;
  }
}

