.container {
  padding: 40px;
  max-width: 1400px;
  margin: 0 auto;
}

.links {
  margin-bottom: 32px;
  display: flex;
  gap: 16px;
}

.sorting {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 316px);
  gap: 20px;
  justify-content: space-between;
}


@media (max-width: 1000px) {
  .container {
    padding: 30px 20px;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
  }

  .sorting {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .links {
    flex-wrap: wrap;
    gap: 12px;
  }
}


@media (max-width: 500px) {
  .container {
    padding: 20px 16px;
  }

  .grid {
    grid-template-columns: 1fr; /* по 1 карточке в ряд */
    gap: 16px;
  }

  .sorting {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .links {
    flex-direction: column;
    gap: 8px;
  }
}